<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ institution_name }}</title>
</head>
<body>
    <h3>{{ institution_name }}</h3>
    <p>学科信息</p>
    <table border="1">
        <tr>
            <th>学院id</th>
            <th>学科代码</th>
            <th>学科名称</th>
            <th>一流学科</th>
            <th>重点学科</th>
            <th>评估</th>
        </tr>
        {% for institution_id, disciplines in institutions.items() %}
            {% for discipline in disciplines %}
            <tr>
                <td>{{ institution_id }}</td>
                <td>{{ discipline["code"] }}</td>
                <td>{{ discipline_mapping[discipline["code"]] }}</td>
                <td>
                    {% if discipline["dfc"] %}
                        是
                    {% else %}
                        否
                    {% endif %}
                </td>
                <td>
                    {% if discipline["nkd"] %}
                        是
                    {% else %}
                        否
                    {% endif %}
                </td>
                <td>{{ discipline["evaluation"] }}</td>
            </tr>
            {% endfor %}
        {% endfor %}
    </table>
    <p>（头衔）老师信息</p>
    <table border="1">
    <tr>
        <th>名称</th>
        <th>年龄</th>
        <th>职称</th>
        <th>个人主页</th>
    </tr>
    {% for teacher_id, teacher in teachers.items() %}
        <tr>
            <td>
                <a href="/teacher/{{ teacher['name'] }}/{{ teacher_id }}">
                    {{ teacher["name"] }}
                </a>
            </td>
            <td>
                {% if teacher["years-old"] %}
                    {{ teacher["years-old"] }}
                {% endif %}
            </td>
            <td>
                {% if teacher["academician"] %}
                    院士
                {% endif %}
                {% if teacher["outyouth"] %}
                    杰出青年
                {% endif %}
                {% if teacher["changjiang"] %}
                    长江学者
                {% endif %}
            </td>
            <td>
                <a href="{{ teacher['homepage'] }}">个人主页</a>
            </td>
        </tr>
    {% endfor %}
    </table>
</body>
</html>