<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ school_name }}</title>
</head>
<body>
<h2>{{ school_name }}</h2>
{% for institution in institutions %}
    <a href="{{ url_for("institution_info", school_name=school_name, institution_name=institution['name']) }}">
        <h3>{{ institution['name'] }}</h3>
    </a>
    <p>一流学科: {{ institution['dfc_num'] }}</p>
    <p>重点学科: {{ institution['nkd_num'] }}</p>
    <p>重点实验室: {{ institution['skl_num'] }}</p>
    <p>院士: {{ institution['academician_num'] }}</p>
    <p>长江学者: {{ institution['changjiang_num'] }}</p>
    <p>杰出青年: {{ institution['outyouth_num'] }}</p>
    {% if institution['id'] in disciplines %}
    <table border="1">
        <tr>
            <th>学科名称</th>
            <th>一流学科</th>
            <th>重点学科</th>
            <th>评估</th>
        </tr>
        {% for discipline in disciplines[institution['id']] %}
        <tr>
            <td>{{ discipline_mapping[discipline['code']] }}</td>
            <td>
                {% if discipline['dfc'] %}
                    是
                {% else %}
                    否
                {% endif %}
            </td>
            <td>
                {% if discipline['nkd'] %}
                    是
                {% else %}
                    否
                {% endif %}
            </td>
            <td>{{ discipline['evaluation'] }}</td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
{% endfor %}
</body>
</html>