<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>老师具体信息</title>
    <script src="{{ url_for('static', filename='js/d3.js') }}"></script>
    <script src="{{ url_for('static', filename='js/relation.js') }}"></script>
    <script src="{{ url_for('static', filename='js/teacher_detail.js') }}"></script>
</head>
<body>
<svg id="relation-net" width="1200" height="900"></svg>
<table border="1">
    <tr>
        <th>论文名称</th>
        <th>发表日期</th>
        <th>引用数</th>
        <th>作者</th>
    </tr>
    {% for paper in papers %}
        <tr>
            <td>{{ paper['name'] }}</td>
            <td>{{ paper['year'] }}</td>
            <td>{{ paper['cited_num'] }}</td>
            <td id="authors">{{ paper['author'] }}</td>
        </tr>
    {% endfor %}
</table>
<script type="text/javascript">
    TEACHER_ID = {{teacher_id}};
    TEACHER_NAME = "{{ teacher_name }}";
    //main
    //关系图
    let self = {'id': TEACHER_ID, 'name': TEACHER_NAME};

    //设置关系图
    let relationGraph = new RelationGraph(d3.select('#relation-net'));
    let handled_data = handle_partner_relations(self);
    console.log(handled_data);
    relationGraph.setData(handled_data);
</script>
</body>
</html>