<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>功能汇总 </title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
<ul class="list-group">
  <li class="list-group-item">
      <a href="{{ url_for("school") }}">搜索学校的学院</a>
  </li>
  <li class="list-group-item">
      <a href="{{ url_for("patent") }}">查询专利</a>
  </li>
    <li class="list-group-item">
        <a href="http://47.106.83.33:50">查询院士、院系调研报告、团队查询</a>
    </li>
    <li class="list-group-item">
        <a href="http://47.104.236.183:5500/project_search">查询专家的项目信息</a>
    </li>
</ul>
</body>
</html>
